:root {
  --secondary-background-color: #462cb3;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-background-color);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/japan1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffff;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-size: 96px;
  font-weight: 700;
  font-style: italic;
  line-height: 1;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1, 5;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(243, 241, 241);
  color: var(--secondary-background-color);
  padding: 16px 32px;
  border-radius: 30px;
  display: inline-block;
  margin-top: 32px;
}
main {
  background: rgb(243, 241, 241);
  max-width: 1400px;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  opacity: 0.2;
  text-transform: uppercase;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin-bottom: -5px;
}
main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: #272044;
  margin-top: -20px;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16;
  line-height: 1.5;
  color: black;
  opacity: 0.7;
}
img {
  width: 100%;
}
a {
  color: rgb(247, 232, 232);
}
.cards-map {
  color: var(--secondary-background-color);
}
footer {
  color: rgb(243, 241, 241);
  background-image: linear-gradient(
      rgba(39, 36, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url("../images/japan2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer h3 {
  margin-left: 36px;
}
section {
  max-width: 1200;
  margin: 0 auto;
  padding: 100px 0;
}
.embed {
  width: 100%;
  display: block;
  height: 300px;
  aspect-ratio: 1/1;
}
.attractions-map {
  color: var(--secondary-background-color);
  opacity: 0.5;
}
.secondary {
  background-color: rgb(246, 240, 251);
  opacity: 0.7;
}
.text-center {
  text-align: center;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-gallery {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  width: 100%;
  display: grid;
  margin: 0 auto;
}
.card {
  background-color: #fffff;
  max-height: 900px;
}
.card-header {
  max-width: 372px;
}
.img-responsive {
  filter: contrast(95%) brightness(90%);
  width: 100%;
  display: block;
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 0 30px 30px;
  position: relative;
}
.btn {
  display: block;
  color: #ffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: var(--secondary-background-color);
  text-decoration: none;
  cursor: pointer;
  position: absolute;
}
footer lu {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  section {
    padding: 30px;
  }
  main h2 {
    font-size: 18px;
  }
  main h3 {
    font-size: 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 42px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
}
